body {
    padding: 0;
    margin: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
  }


  header {
    background:rgb(79,40,6);
    height: 100px;
  }

  h1 {
    padding: 40px 0;
    margin: 0;
    margin-bottom: 20px;
    font-size: 50px;
    color:#efeee7;
    text-align: center;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:rgb(79,40,6);
    color: #efeee7;
    text-align: center;
    height: 80px;
 }

 p {
    padding: 20px 0;
       margin: 0;
       margin-bottom: 40px;
       font-size: 20px;
       color:#efeee7;
       text-align: center;
     }

nav {
    background-color: rgb(79,40,6);
}
     .scrolling-wrapper {
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      border-top: 1px solid #000;
      border-bottom: 1px solid #000;
      background-color:#EFEEE7;
      }
      
      .card {
        overflow-x: scroll;
        overflow-y: hidden;
        white-space: nowrap;
        display: inline-block;
        margin: 20px;
        border: 5px solid rgb(79,40,6);
        padding: 20px;
        border-radius: 5px;
        background-color: lightblue !important;
      }

      .property-image {
          max-height: 150px;
      }

.scrolling-wrapper {
 overflow-x: scroll;
 overflow-y: hidden;
 white-space: nowrap;
 border-top: 1px solid #000;
 border-bottom: 1px solid #000;
 background-color:#EFEEE7;
 }
 
 .card {
   overflow-x: scroll;
   overflow-y: hidden;
   white-space: nowrap;
   display: inline-block;
   margin: 20px;
   border: 5px solid rgb(79,40,6);
   padding: 20px;
   border-radius: 5px;
   background-color: lightblue;
 }
 .property-image {
     max-height: 150px;
 }
h1.slideshow-h1 {
   padding: 10px 0 0 0;
   margin: 0;
}

h3.slideshow-h3 {
   margin: 0px;
   text-align: center;
}
.slideshow-desc {
 color: #000;
}
.uk-container {
 background-color: #efeee7;
}
.hide {
 display: none !important;
}
 
    .submit {
      background-color: rgb(79,40,6);
      color: white !important;
      border-radius: 5px !important;
    }

    .search {
      width: 90%;
      margin: 0 auto;
      background-color: #efeee7;
    }
